/*
# Base
- Here it's the last layer that we willl see selectors directly in tags.
- Here we will leave styles for headings (h1-h6), blockquotes, a, buttons, etc.
- just BASIC styles.
*/
h1 {
  font-size: 3rem;
}


table {
  width: 100%;
  @media screen and (max-width: 600px) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

td {
  padding: $commonPadding;
}
