/*
# Settings:
- This are basic configs of your architecture. Are the global variables that define colors, spaces, paddings, and another required settings
to the framework.
- Here we don't have CSS that will compile, just the definitions for other files that will do it
*/


$font-stack: sans-serif;


// ## Colors
$white: #ffffff;
$green-default: #00c8b3;
$red-default: #eb4a46;
$purple-default:#e6258c;

// ## Common Variables
$invalid: $red-default;
$commonPadding: 1.5rem;
$unfocus: #efeeed;

