.form-standard {
  & > .submit {
    max-width: 70%;
    margin: 0 auto;
    display: block;
  }

  & > .error {
    color: $invalid;
    padding: 15px;
    display: block;
    text-align: center;
  }
}
