.btn-generic {
  width: 100%;
  padding: 15px;
  border-radius: 200px;
  border: 0;
  color: $white;
  transition: opacity .3s, color .3s;
  cursor: pointer;
  outline: 0;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  &.-green {
    background-color: $green-default;
  }
  &.-purple {
    background-color: $purple-default;
  }
  &.-red {
    background-color: $red-default;
  }
  &.-loading {
    @include spinner(15px, 2px)
  }
  &.-small {
    font-size: 1rem;
    padding: .8rem;
  }
  &:focus,
  &:hover {
    opacity: .7;
  }
  &:disabled {
    color: #dddcdc;
    background-color: #f6f6f6;
    cursor: not-allowed;
  }
}

